<div id="bottom">
    <footer class="eco-footer" id="ecobar-footer">
        <div id="ecobar-footer-container">
            <div id="ecobar-footer-brand" alt="NGA Logo" aria-hidden="true"></div>
            <div class="ecobar-footer-grid">
                <div class="eco-col-1-in-3">
                    <div class="eco-location">
                        <div class="eco-address-line"><span class="eco-locationTitle">NGA&nbsp;East</span></div>
                        <div class="eco-address-line">7500 GEOINT Drive</div>
                        <div class="eco-address-line">Springfield, VA 22150</div>
                    </div>
                </div>
                <div class="eco-col-1-in-3">
                    <div class="eco-location">
                        <div class="eco-address-line"><span class="eco-locationTitle">NGA&nbsp;West</span></div>
                        <div class="eco-address-line">3200 South Second Street</div>
                        <div class="eco-address-line">St. Louis, MO 63118</div>
                    </div>
                </div>
                <div class="eco-col-1-in-3">
                    <div class="eco-location">
                        <div class="eco-address-line"><span class="eco-locationTitle">NGA&nbsp;Arnold</span></div>
                        <div class="eco-address-line">3838 Vogel Rd</div>
                        <div class="eco-address-line">Arnold, MO 63010-6205</div>
                    </div>
                </div>
            </div>
            <div id="ecobar-classification-bottom" style="z-index: 3030;"><span class="classification-block"><span
                        class="classification-prefix">Dynamic content classified up to </span><span
                        class="classification-banner">UNCLASSIFIED</span><span
                        class="classification-suffix"></span></span><span class="classification-block2 hide-me">
                    WARNING: This content may not be used as a source of derivative classification; refer instead to the
                    pertinent classification guide. </span></div>
        </div>
    </footer>
</div>