<div id="ecobar"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        class="hide-me">
        <symbol id="icon-ecobar-menu" viewBox="0 0 24 24">
            <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path>
        </symbol>
        <symbol id="icon-ecobar-menu2" viewBox="0 0 24 24">
            <path class="bar bar-1" stroke="currentColor" stroke-width="1.6" d="M 2  5 L 20  5"></path>
            <path class="bar bar-2" stroke="currentColor" stroke-width="1.6" d="M 2 11 L 20 11"></path>
            <path class="bar bar-3" stroke="currentColor" stroke-width="1.6" d="M 2 17 L 20 17"></path>
        </symbol>
        <symbol id="icon-ecobar-search" viewBox="0 0 24 24">
            <path
                d="M15.5 14h-.79l-.28-.27A6.47 6.47 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z">
            </path>
        </symbol>
        <symbol id="icon-ecobar-map" viewBox="0 0 24 24">
            <path fill="#FFFFFF" stroke="currentColor" stroke-width="1.75"
                d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5a2.5 2.5 0 0 1 0-5 2.5 2.5 0 0 1 0 5z">
            </path>
        </symbol>
        <symbol id="icon-ecobar-feedback" viewBox="0 -1 17 17">
            <path stroke="currentColor" stroke-width="0.2"
                d="M 2.701 14.927 L 3.752 10.929 L 2.299 10.929 C 1.059 10.929 0 9.944 0 8.672 L 0 2.303 C 0 1.033 1.011 0 2.252 0 L 13.748 0 C 14.989 0 16 1.033 16 2.303 L 16 8.672 C 16 9.943 15.037 10.929 13.797 10.929 L 7.983 10.929 L 2.701 14.927 L 2.701 14.927 Z M 0.959 2.513 L 0.959 8.565 C 0.959 9.445 1.662 10.0168 2.525 10.0168 L 4.822 10.0168 L 4.052 12.886 L 7.534 10.0168 L 13.514 10.0168 C 14.379 10.0168 15.082 9.445 15.082 8.565 L 15.082 2.513 C 15.082 1.634 14.379 0.918 13.514 0.918 L 2.525 0.918 C 1.662 0.918 0.959 1.634 0.959 2.513 Z">
            </path>
        </symbol>
        <symbol id="icon-ecobar-closeX" viewBox="0 1 24 24">
            <path
                d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z">
            </path>
        </symbol>
        <symbol id="icon-ecobar-arrow-dropdown" viewBox="0 0 24 24">
            <path d="M7 10l5 5 5-5z"></path>
        </symbol>
        <symbol id="icon-ecobar-chevron-right" viewBox="0 0 24 24">
            <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"></path>
        </symbol>
        <symbol id="icon-ecobar-app-link" viewBox="0 0 97.5 97" width="97.5px" height="97px" xml:space="preserve"
            enable-background="new 0 0 97.5 97">
            <circle display="none" fill="none" stroke="#00A19E" stroke-width="0.9808" stroke-miterlimit="10" cx="47.236"
                cy="48.517" r="44.625"></circle>
            <path id="outer" fill="none" stroke="#FFFFFF" stroke-width="2" stroke-miterlimit="10"
                d="M48.983,1.25c-26.105,0-47.267,21.162-47.267,47.267 					s21.161,47.267,47.267,47.267c26.104,0,47.267-21.162,47.267-47.267S75.088,1.25,48.983,1.25z M48.983,90.006 					c-22.914,0-41.49-18.574-41.49-41.489c0-22.913,18.576-41.489,41.49-41.489s41.488,18.577,41.488,41.489 					C90.472,71.432,71.897,90.006,48.983,90.006z">
            </path>
            <path id="inner" fill="#237479" stroke="#FFFFFF"
                d="M57.3,42.438l-0.041-7.455l15.238,14.821L57.259,62.989l-0.01-7.489c-7.453-2.5-22.971-5.349-31.779,5.692 					c0,0,4.742-20.29,29.998-18.775L57.3,42.438z">
            </path>
        </symbol>
        <symbol id="icon-ecobar-searchbox" viewBox="0 0 56.805 56.805">
            <path fill="#FFFFFF"
                d="M56.582,4.352c-0.452-1.092-1.505-1.796-2.685-1.796H2.908c-1.18,0-2.233,0.704-2.685,1.796 					c-0.451,1.091-0.204,2.336,0.63,3.171l20.177,20.21V53.02c0,0.681,0.55,1.229,1.229,1.229c0.68,0,1.229-0.549,1.229-1.229V27.223 					c0-0.327-0.13-0.64-0.36-0.87L2.591,5.782c-0.184-0.185-0.14-0.385-0.098-0.487C2.537,5.19,2.646,5.019,2.908,5.019h50.99 					c0.26,0,0.37,0.173,0.414,0.276c0.042,0.103,0.086,0.303-0.099,0.487L33.679,26.353c-0.23,0.23-0.36,0.543-0.36,0.87v18.412 					c0,0.681,0.55,1.229,1.229,1.229c0.681,0,1.229-0.55,1.229-1.229V27.732l20.177-20.21C56.785,6.688,57.033,5.443,56.582,4.352z">
            </path>
        </symbol>
        <symbol id="icon-ecobar-external-link" viewBox="0 0 27 27">
            <path
                d="M19 19H5V5h7V3H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14c1.1 0 2-.9 2-2v-7h-2v7zM14 3v2h3.59l-9.83 9.83 1.41 1.41L19 6.41V10h2V3h-7z">
            </path>
        </symbol>
    </svg>
    <div id="ecobar-header">
        <nav id="econav" role="navigation" class="navbar navbar-default navbar-fixed-top" style="z-index: 3032;">
            <section id="ecobar-classification-top" style="z-index: 3030;"><span class="classification-block"><span
                        class="classification-prefix">Dynamic content classified up to </span><span
                        class="classification-banner">UNCLASSIFIED</span><span
                        class="classification-suffix"></span></span><span class="classification-block2 hide-me">
                    WARNING: This content may not be used as a source of derivative classification; refer instead to the
                    pertinent classification guide.</span> </section>
            <section id="ecobar-outer">
                <div class="navbar-header ecobar-container"> <button id="ecobar-menu-btn" class="ecobar-navbar-btn"
                        aria-expanded="false"><span id="icon-menu"><svg class="ecobar-small-icon" aria-hidden="true">
                                <use xlink:href="#icon-ecobar-menu2"></use>
                            </svg></span><span id="icon-menu-close"><svg class="ecobar-small-icon" aria-hidden="true">
                                <use xlink:href="#icon-ecobar-closeX"></use>
                            </svg></span><span class="ecobar-icon-label">Menu</span> </button>
                    <div id="ecobar-title">
                        <div id="ecobar-nga-seal" class="nga-seal" alt="NGA Seal" title="NGA Seal" aria-hidden="true">
                        </div><span id="ecobar-title-long">NATIONAL GEOSPATIAL-INTELLIGENCE AGENCY</span><span
                            id="ecobar-title-short" title="NATIONAL GEOSPATIAL-INTELLIGENCE AGENCY">NGA</span>
                    </div>
                    <div id="ecobar-icons-container">
                        <div class="ecobar-overlay-background"></div>
                        <ul id="ecobar-icons-list">
                            <li id="ecobar-map-btn" class="ecobar-navbar-btn" aria-expanded="false"><span
                                    id="icon-map"><svg class="ecobar-small-icon" aria-hidden="true">
                                        <use xlink:href="#icon-ecobar-map"></use>
                                    </svg></span><span class="ecobar-icon-label">Map</span>
                                <ul id="ecobar-map-submenu" class="ecobar-submenu">
                                    <li><a target="_blank"
                                            href="https://www.google.com/maps/@38.7588096%2C-77.1923968%2C15z"><span
                                                class="submenu-label">NGA at NCE</span><span class="submenu-image"
                                                title="Opens in a new tab/window"><svg
                                                    class="ecobar-small-icon ecobar-smaller-icon" aria-hidden="true">
                                                    <use xlink:href="#icon-ecobar-external-link"></use>
                                                </svg></span></a></li>
                                </ul>
                            </li>
                            <li id="ecobar-search-btn" class="ecobar-navbar-btn" aria-expanded="false"><span
                                    id="icon-search"><svg class="ecobar-small-icon" aria-hidden="true">
                                        <use xlink:href="#icon-ecobar-search"></use>
                                    </svg></span><span class="ecobar-icon-label">Search</span>
                                <ul id="ecobar-search-submenu" class="ecobar-submenu">
                                    <li><a target="_blank" href="https://www.bing.com"><span
                                                class="submenu-label">Bing</span><span class="submenu-image"
                                                title="Opens in a new tab/window"><svg
                                                    class="ecobar-small-icon ecobar-smaller-icon" aria-hidden="true">
                                                    <use xlink:href="#icon-ecobar-external-link"></use>
                                                </svg></span></a></li>
                                    <li><a target="_blank" href="https://www.google.com/"><span
                                                class="submenu-label">Google</span><span class="submenu-image"
                                                title="Opens in a new tab/window"><svg
                                                    class="ecobar-small-icon ecobar-smaller-icon" aria-hidden="true">
                                                    <use xlink:href="#icon-ecobar-external-link"></use>
                                                </svg></span></a></li>
                                </ul>
                            </li>
                            <li id="ecobar-feedback-btn" class="ecobar-navbar-btn" aria-expanded="false"><span
                                    id="icon-feedback"><svg class="ecobar-small-icon" aria-hidden="true">
                                        <use xlink:href="#icon-ecobar-feedback"></use>
                                    </svg></span><span class="ecobar-icon-label">Feedback</span>
                                <ul id="ecobar-feedback-submenu" class="ecobar-submenu">
                                    <li><a target="_blank" href="https://www.nga.mil/About/Pages/Contact.aspx"><span
                                                class="submenu-label">Contact NGA</span><span class="submenu-image"
                                                title="Opens in a new tab/window"><svg
                                                    class="ecobar-small-icon ecobar-smaller-icon" aria-hidden="true">
                                                    <use xlink:href="#icon-ecobar-external-link"></use>
                                                </svg></span></a></li>
                                    <li><a target="_blank" href="mailto:webmaster@nga.mil"><span
                                                class="submenu-label">E-mail NGA</span><span class="submenu-image"
                                                title="Opens in a new tab/window"><svg
                                                    class="ecobar-small-icon ecobar-smaller-icon" aria-hidden="true">
                                                    <use xlink:href="#icon-ecobar-external-link"></use>
                                                </svg></span></a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </nav>
        <section id="ecobar-panels">
            <div id="ecobar-panels-container" style="z-index: 3031;">
                <article id="ecobar-menu-panel">
                    <div id="ecobar-menu-search-container">
                        <div id="ecobar-menu-search-form"> <button id="ecobar-menu-search-icon" type="button"
                                onclick="(xdi.plainJS2.$1('#ecobar-menu-search-input') || {}).focus();" accesskey="f"
                                title="Filter NGA Enterprise Content (click or Shift + Alt + f )"> <svg
                                    class="ecobar-small-icon" aria-hidden="true">
                                    <use xlink:href="#icon-ecobar-searchbox"></use>
                                </svg> </button><input type="text" id="ecobar-menu-search-input" name="search"
                                class="underline-animation" placeholder="Filter NGA Enterprise Content..." autofocus=""
                                aria-label="Enter characters to display a list of matching NGA Enterprise Content">
                            <div class="ecobar-menu-search-input-focus"></div>
                        </div>
                    </div>
                    <div class="ecobar-dropdown-scrollbar">
                        <div class="ecobar-dropdown-no-scrollbar">
                            <div class="ecobar-dropdown-wrapper">
                                <nav id="ecobar-menu-container" class="dropdown-is-active" role="menu"></nav>
                                <div id="ecobar-menu-search-results-container"
                                    aria-label="filtered list of NGA Enterprise Content"></div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </section>
    </div>
</div>