::ng-deep app-root {
    flex: 1 0 auto; /* 2 */
    padding: var(--space) var(--space) 0;
    width: 100%;
    margin-top: 7px !important;
    margin-bottom: 7px !important;
  }
  ::ng-deep app-root::after {
    content: '\00a0'; /* &nbsp; */
    display: block;
    margin-top: var(--space);
    height: 0px;
    visibility: hidden;
  }
  @media (--break-lg) {
    ::ng-deep app-root {
      padding-top: var(--space-lg);
    }
    ::ng-deep app-root::after {
      margin-top: var(--space-lg);
    }
  }
  
  ::ng-deep app-root--full {
    padding: 0;
  }
  ::ng-deep app-root--full::after {
    content: none;
  }
  